<ion-header>
  <!-- <button ion-button icon-start navPush="ListPage">
        Adicionar
      </button> -->

  <ion-navbar #content>
    <ion-menu [content]="content">

    </ion-menu>
    <ion-title>Lista de Tarefas</ion-title>
    <ion-icon name="exit" (click)="logout()"></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <!-- (ionInput)="setFilteredItems()" -->
  <ion-searchbar [(ngModel)]="searchTerm" ></ion-searchbar>
  
  <ion-list>
      <ion-list-header no-lines> Minhas Tarefas </ion-list-header>
    <ion-item *ngFor="let item of items | search:'description':searchTerm;  let i=index " [hidden]="item.done">
      <ion-icon item-start [name]="item.done ? 'checkmark-circle-outline' : 'radio-button-off'"
        (click)="markAsDone(item)">
      </ion-icon>

      <span>
        {{ item.description }}
      </span>
      <ion-icon item-end name='create' (click)="editTask(item.description, i)"></ion-icon>
      <ion-icon item-end name="trash" color="danger" (click)="presentConfirm(i)"></ion-icon>

    </ion-item>
    

    <ion-item *ngIf="!items.length">
      <ion-note>
        Lista vazia
      </ion-note>
    </ion-item>

  </ion-list>
  <ion-list>
      <ion-list-header no-lines> Minhas Tarefas Finalizadas</ion-list-header>
    <ion-item *ngFor="let item of items | search:'description':searchTerm;  let i=index " [hidden]="!item.done">
      <ion-icon item-start [name]="item.done ? 'checkmark-circle-outline' : 'radio-button-off'"
        (click)="markAsDone(item)">
      </ion-icon>

      <span>
        {{ item.description }}
      </span>
      <ion-icon item-end name='create' (click)="editTask(item.description, i)"></ion-icon>
      <ion-icon item-end name="trash" color="danger" (click)="presentConfirm(i)"></ion-icon>

    </ion-item>
    

    <ion-item *ngIf="!items.length">
      <ion-note>
        Lista vazia
      </ion-note>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
      <button ion-fab color="secondary" navPush="TerminatedTasksPage">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <br>
    <button ion-fab color="primary" navPush="ListPage">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!-- colocar mensagens de erro no login e no register
verificar pq login ta entrando direto na home
ajeitar filtro de pesquisa
filtrar finalizadas e nao finalizadas
fazer logout
criar contadores -->